#pricehead{
    display: inline-block;
    border: 1px solid #FE7200;
    font-size:x-small;
    font-weight: bold;
    color: #FE7200;
    margin: 2px;
    padding:4px;
    padding-left: 2px;
    margin-top: -10px;
}
