#MainHeading{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-weight:lighter;
    font-size:xx-large;
}

/* 
div.scroll
    {
Overflow-x:scroll;
} */

#packagehead{

    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-weight:lighter;
    font-size:xx-large;
    

}
