{% extends 'ToursApp/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'ToursApp/CSS/about.css' %}">

<style>
  #para{
    font-weight: bold;
  }

  #para1{

    padding: 20px;
    margin-bottom: 20px
  }
</style>
  
{% endblock css %}

{% block js %}
{% endblock js %}

{% block title %}
<title>Home</title>
{% endblock title %}


{% block body %}

<div>
  <div id="heading">
    <p>The Bagpacker's India</p>
  </div>

<div id="image">
  <img src="https://res.cloudinary.com/dgunwxmkl/image/upload/v1687029787/beach2.jpg" alt="No image" height="400px" width="1700px">
</div>

<div class="row shadow" id="row1">


  <div class="col-4">
    <p id="para"><i class="bi bi-cup-straw"></i> Much needed Holidays!</p>
    <p> We love travelling the way you do! We believe a good holiday create memories of a lifetime; we make your
      travel rejuvenating and relaxing.</p>
  </div>

  <div class="col-4">
    <p id="para"><i class="bi bi-heart-fill"></i> we promise</p>
    <p>We promises an enchanting travel experience to all. We plan your travel in your preferred way, as per your
      time, pace and budget.</p>
  </div>

  <div class="col-4">
    <p id="para"><i class="bi bi-airplane-fill"></i> All Inclusive Tours</p>
    <p> We have all inclusive Tours </p>
  </div>
</div>


<div class="container shadow-lg mt-5 pb-2" id="para1">

<p><i class="bi bi-dot"></i> “Travel is the main thing you purchase that makes you more extravagant”. We, at The Bagpacker's India, swear by this and put stock in satisfying travel dreams that make you perpetually rich constantly.</p>
<p><i class="bi bi-dot"></i> Your itinerary will be specifically planned to deliver maximum value and comfort by avoiding undue time loss in commuting. You can also encourage to submit your choice of itinerary for any of our destinations worldwide, and accordingly, we will plan a tour that is designed specially for you.</p>
<p<i class="bi bi-dot"></i> we believe accommodation is a key part of adding quality to your tour. Accordingly, in addition to exotic touring destinations, we provide you with the best accommodation facilities available.</p>
<p><i class="bi bi-dot"></i> When booking a vacation, it is always better value to book an air-inclusive packages The Bagpacker's India provides great deals on Domestic tours, you can also choose between Air and Rail travel.</p>
<p><i class="bi bi-dot"></i> Our team here is friendly and affable. We are specialists in the destinations that we offer and possess deep product knowledge about them. We will offer you a personal service and will handle your booking from start to finish ensuring that all your travel needs are met.</p>
</div>



</div>


{% endblock body %}