{% extends 'ToursApp/base.html' %}
{% load static %}

{% block css %}
<style>
    #main{
        background-image: url('/static/ToursApp/Images/bagr5.jpg');
        height: 1000px;
       
    }
</style>
{% endblock css %}

{% block js %}
{% endblock js %}

{% block title %}
<title>check booking</title>
{% endblock title %}


{% block body %}
<div id="main">
{% for d in data %}

<div class="row pt-3 ps-5">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Booking Id: {{d.bookid}} <p class="mt-3">Tour Id: {{d.tour_id}}</p><p>Guest Name: {{d.user_name}}</p><p>Guest Contact Number: {{d.contact}}</p></h5>
          <p class="card-text">From Location To Location: {{d.from_location}} to {{d.to_location}}</p>
          <p class="card-text">Booking Date: {{d.created_at}}</p>
          <p class="card-text">Total Price: {{d.price}}</p>
          <p class="card-text">People: {{d.people}}</p>
          <p class="card-text">Number Of Days : {{d.numdays}}</p>
          <p class="card-text">Payment Method : {{d.payment_method}}</p>
          <p class="card-text">Status : {{d.status}}</p>
        </div>
      </div>
    </div>

{% endfor %}
</div>

{% endblock body %}
