{% load static %}

<nav class="navbar navbar-expand-lg navbar-light text-light">
  <div class="container-fluid text-light">
    <a class="navbar-brand rounded-3" href="{% url 'home' %}"><img src="{% static 'ToursApp/Images/logo1.png' %}"
        height="70px" width="130px" alt="" class=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav me-auto mb-2 text-center mb-lg-0">
        <!-- <li class="nav-item">
            <a class="nav-link active text-dark" aria-current="page" href="{% url 'home' %}">Home</a>
          </li> -->

        {% if user.is_authenticated is False %}
        <!-- Destination Option -->
        <li class="nav-item">
          <a class="nav-link text-dark" href="{% url 'destination' %}">Destinations</a>
        </li>


        <!-- Trip Stories -->
        <li class="nav-item">
          <a class="nav-link text-dark" href="{% url 'tripstory' %}">Trip Stories⭐</a>
        </li>

        <!-- Login and Register form Option -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Login / Register
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li class="nav-item">
              <a class="nav-link text-dark" href="{% url 'register' %}">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="{% url 'signin' %}">Log In</a>
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="{% url 'aboutus' %}">About Us</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-dark" href="{% url 'contactus' %}">Contact Us</a>
        </li>

      {% elif user.username == 'admin' %}

     <!-- check booking -->
      <li class="nav-item">
        <a class="nav-link text-dark" href="{% url 'checkbook' %}">Check Booking</a>
      </li>

    <!-- upload packages -->
      <!-- <li class="nav-item">
        <a class="nav-link text-dark" href="#">Upload Packages</a>
      </li> -->

      <!-- update trip stories -->
      <li class="nav-item">
        <a class="nav-link text-dark" href="{% url 'uploadtrip' %}">Upload Stories</a>
      </li>

    
      <!-- User Queries -->
      <li class="nav-item">
        <a class="nav-link text-dark" href="{% url 'userquery' %}">User Queries</a>
      </li>


      <!-- Sign Out       -->
      <li class="nav-item">
        <a class="nav-link text-dark" href="{% url 'signout' %}">Sign Out</a>
      </li>


        {% else %}
        <li class="nav-item">
          <a class="nav-link text-dark" href="{% url 'destination' %}">Destinations</a>
        </li>

        <!-- my profile -->

        <li class="nav-item">
          <a class="nav-link text-dark" href="{% url 'profile' user.username %}">{{user.username}}</a>
        </li>

        <!-- My trips option -->

        <li class="nav-item">
          <a class="nav-link text-dark" href="{% url 'mytrips' %}"><i class="bi bi-airplane-fill"></i> My Trips </a>
        </li>

        <!-- Trip Stories -->
        <li class="nav-item">
          <a class="nav-link text-dark" href="{% url 'tripstory' %}"> Trip Stories</a>
        </li>

        <!-- about us option -->
        <li class="nav-item">
          <a class="nav-link text-dark" href="{% url 'aboutus' %}">About Us</a>
        </li>

        <li class="nav-item">
          <a class="nav-link text-dark" href="{% url 'contactus' %}">Contact Us</a>
        </li>

        <!-- Logout option -->
        <li class="nav-item">
          <a class="nav-link text-dark" href="{% url 'signout' %}">
            sign-out
          </a>
        </li>

        {% endif %}
      </ul>

      <form method="get" action="{% url 'searches' %}" class="d-flex">
        <input class="form-control me-2" name="search" id="search" type="search" placeholder="Search by state" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
